@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");

.App {
  color: #1fb8a3;
  background: #ffffff;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
}

.nav_link {
  background-color: #f7f7f7;
  color: #1fb8a3 !important;
}

.dashboard_body {
  padding: 3rem;
}

.preloader {
  position: fixed;
  display: block;
  width: 100wh;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.863);
  z-index: 9999;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader img {
  height: auto;
  width: 12%;
}
.preloader img::selection {
  background: transparent;
}
